<h2 class="m-4">Task</h2>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 message" *ngIf="chosenNumber > 1">
                Numbers highlighted above are divisible by {{chosenNumber}}
            </div>
        </div>
        <div>
            <button class="btn btn-success" (click)="calculateDivisibleBy(2)"
                [ngClass]="{'active-btn': chosenNumber === 2}">
                Numbers divisible by 2
            </button>
        </div>
        <div>
            <button class="btn btn-success" (click)="calculateDivisibleBy(3)"
                [ngClass]="{'active-btn': chosenNumber === 3}">
                Numbers divisible by 3
            </button>
        </div>
        <div>
            <button class="btn btn-success" (click)="calculateDivisibleBy(5)"
                [ngClass]="{'active-btn': chosenNumber === 5}">
                Numbers divisible by 5
            </button>
        </div>
        <div>
            <button class="btn btn-success" (click)="calculateDivisibleBy(10)"
                [ngClass]="{'active-btn': chosenNumber === 10}">
                Numbers divisible by 10
            </button>
        </div>
        <div>
            <button class="btn btn-danger" [disabled]="isClearDisabled" (click)="calculateDivisibleBy(1)">
                Clear
            </button>
        </div>
    </div>
    <div class="col-md-8">
        <p class="divP" *ngFor="let num of numbersList"
            [ngClass]="{highlight: num%chosenNumber === 0 && chosenNumber > 1}"
            [ngStyle]="{'font-size': (num%chosenNumber === 0 && chosenNumber > 1) ? '30px' : '24px'}">
            {{num}}
        </p>
    </div>
</div>