<div class="container">
  <h2>{{title}} | Directives</h2>
  <div class="row">
    <h3>Structural - ngIf</h3>
    <div class="col-md-12">
      <button class="btn btn-success" (click)="approve(true)">Approve</button>
      <button class="btn btn-danger" (click)="approve(false)">Reject</button>
    </div>
    <div class="col-md-12">
      <p *ngIf="isApproved">Your application has been approved</p>
      <p *ngIf="!isApproved">Sorry, Your application has been rejected</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <h3>Structural - ngFor</h3>
    <div class="col-md-12">
      <p *ngFor="let number of numbers; let i = index">
        {{i+1}} - {{number}}
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <h3> - ngSwitch</h3>
    <div class="col-md-12">
      <input type="text" name="luckyNumber" [(ngModel)]="luckyNumber">
    </div>
    <div class="col-md-12" [ngSwitch]="luckyNumber">
      <p *ngSwitchCase="1">{{numbers[0]}}</p>
      <p *ngSwitchCase="2">hope</p>
      <p *ngSwitchCase="3">pla</p>
      <p *ngSwitchDefault>Enter btw 1-3</p>

    </div>
  </div>
</div>