.container {
  padding: 50px;
  text-align: center;
  height: 100vh;
}

.h2 {
  margin: 40px;
}

.sts {
  width: 130px;
  margin: 20px;
}

p {
  font-size: 20px;
}

button {
  width: 250px;
  margin: 20px;
  box-shadow: 10px 10px 10px grey;
  font-size: 20px;
}
